<!--header-->

<div class="header-middle">
	<!--header-middle-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="logo pull-left">
					<a href="index.html"><img src="~/images/home/logo.png" alt="" /></a>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="shop-menu pull-right">
					<ul class="nav navbar-nav">
						@if (User.Identity.IsAuthenticated)
						{
							<li><a href="#"><i class="fa fa-user"></i>Welcome @User.Identity.Name </a></li>
							<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
							@await Component.InvokeAsync("Cart")
							<li><a asp-action="Logout" asp-controller="Access" ><i class="fa fa-lock"></i> Logout</a></li>
						}
						else
						{
							<li><a href="#"><i class="fa fa-user"></i> </a></li>
							<li><a asp-action="CheckOut" asp-controller="Cart"><i class="fa fa-crosshairs"></i> Checkout</a></li>
							<li><a asp-action="Index" asp-controller="Cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
							<li><a asp-action="Login" asp-controller="Access"><i class="fa fa-lock"></i> Login</a></li>
						}

					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!--/header-middle-->
