<div class="header-bottom">
	<style>
		.search_box input {
			background: #F0F0E9;
			border: medium none;
			color: #B2B2B2;
			font-family: 'roboto';
			font-size: 12px;
			font-weight: 300;
			height: 36px;
			outline: medium none;
			padding-left: 10px;
			width: 330px;
			background-image: url(../images/home/searchicon.png);
			background-repeat: no-repeat;
			background-position: 300px;
		}
	</style>
	<!--header-bottom-->
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="mainmenu pull-left">
					<ul class="nav navbar-nav collapse navbar-collapse">
						<li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
						<li class="dropdown">
							<a href="#">Shop<i class="fa fa-angle-down"></i></a>
							<ul role="menu" class="sub-menu">
								<li><a asp-controller="Product" asp-action="Index">Products</a></li>
								<li><a asp-action="CheckOut" asp-controller="Cart">Checkout</a></li>
								<li><a  asp-action="Index" asp-controller="Cart">Cart</a></li>
								<li><a asp-action="Login" asp-controller="Access">Login</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#">Blog<i class="fa fa-angle-down"></i></a>
							<ul role="menu" class="sub-menu">
								<li><a href="blog.html">Blog List</a></li>
								<li><a href="blog-single.html">Blog Single</a></li>
							</ul>
						</li>
						
						<li><a asp-action="Register" asp-controller="Access">Sign up</a></li>
					</ul>
				</div>
			</div>
			@await Html.PartialAsync("_SearchPanel")
		</div>
	</div>
</div><!--/header-bottom-->
