@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<WebsiteBanHangCongNghe.ViewModel.ProductVM>;
@{
    Layout = "_MainLayout";
}

<div class="features_items">
  
    <!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    @await Html.PartialAsync("ProductItem", Model);
</div>
<ul class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, category_id = ViewBag.Cid, brand_id = ViewBag.brand_id }))
</ul>




<!--features_items-->
