@model List<WebsiteBanHangCongNghe.Data.Order>
@{
    ViewData["Title"] = "Orders";
    Layout = "_MainLayout";
    var i = 1;
}

<h1>Orders</h1>
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Product</th>
                <th>Date</th>
               
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@(i++)</td> 
                    <td>
                        @foreach (var orderDetail in order.OrderDetails)
                        {
                            <div>@orderDetail.Product.Name</div>
                        }
                    </td>
                    <td>@order.Dateorder.ToShortDateString()</td>
                   
                    <td>@order.OrderDetails.Sum(od => od.Price * od.Quantity).ToString("N0") VNĐ</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No orders found.</p>
}

